body {
    font-family: Arial, sans-serif;
    background-color: #1d1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(53, 39, 39);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
    gap: 0.75rem;
    width: 500px;
    
}

.botao{
    font-size: 22px;
}

h1 {
    text-align: center;
    color: white;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 25px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 10px;
    text-transform: uppercase;
    color: #fff;

}

li.concluida {
    text-decoration: line-through;
    color: grey;
    
    
}

li button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
    height: 22px;
    margin-top: 0px;
    margin-right: -8px;
}

li button:hover {
    background-color: #d32f2f;
}
